@import 'styles/colors/index';

.container {
  background-color: $color-primary;
  padding: 5px 0;
  flex-basis: 300px;
}

.inner {
  padding: 80px 10px;
}

.header {
  padding: 20px;
  border-bottom: 1px solid $color-secondary;
  max-height: 92px;
}

.navbarMenuItem {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  text-decoration: none;
  max-height: 28px;
  &:first-child {
    margin-top: 0;
  }
  &:hover {
    background-color: $color-hover;
  }
}

.activeNavbarMenuItem {
  @extend .navbarMenuItem;
  background-color: $color-hover;
}

.title {
  color: $color-text;
  margin-left: 20px;
  font-size: 16px;
  max-height: 18px;
  line-height: 1;
  font-family: sans-serif;
}

.icon {
  max-height: 16px;
  max-width: 16px;
  svg {
    max-height: 16px;
    max-width: 16px;
  }
}